@font-face {
    font-family: IranSansX;
    src: url('../fonts/IRANSansX/IRANSansX-Regular.eot');
    src: url('../fonts/IRANSansX/IRANSansX-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansX/IRANSansX-Regular.woff2') format('woff2'), url('../fonts/IRANSansX/IRANSansX-Regular.woff') format('woff'), url('../fonts/IRANSansX/IRANSansX-Regular.ttf') format('truetype');
}

.main-page {
    background: #0B132E;
    font-family: IranSansX;
    color: #E3E7F8;
}

.main-page .gradient {
    background: linear-gradient(180deg, rgba(7, 61, 147, 0.4) 0%, rgba(139, 29, 163, 0.4) 100%);
    box-shadow: inset 0px 95px 95px -50px rgba(31, 41, 51, 0.3), inset 0px 3px 18px rgba(175, 191, 206, 0.3), inset 0px 1px 40px rgba(228, 234, 239, 0.2);
    backdrop-filter: blur(40px);
}

.main-page .navbar-brand {
    background: url(../images/logo.png) no-repeat;
    width: 111px;
    height: 47px;
    display: block;
}

.main-page .nav-link {
    color: #E3E7F8;
    padding: 0;
    border-left: 1px solid #E3E7F8;
    line-height: 0.8;
    font-size: 20px;
}

.main-page li:last-child .nav-link {
    border-left: none;
}

.main-page .navbar-toggler {
    color: #E3E7F8;
    border: none;
}

.main-page .motto .col-lg-4 {
    padding-left: 0;
}

.main-page .motto .col-lg-8 {
    padding-right: 0;
}

.main-page .motto h2 {
    line-height: 1.7;
}

.main-page .card {
    background: rgba(16, 28, 70, 0.11);
    border-radius: 32px;
    color: #101C461C;
    box-shadow: inset 0px 4px 24px rgba(175, 191, 206, 0.24);
    filter: drop-shadow(0px 1.5px 6px rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(40px);
}

.main-page .card-img-top {
    width: 60%;
}

.main-page .card-body {
    color: #E3E7F8;
}

.main-page .footer {
    font-size: 20px;
}

.main-page .social-media a {
    color: #E3E7F8;
}

.main-page .footer .nav-link {
    font-size: 17px;
    padding: 0 7px;
    border-left: 1px solid #E3E7F8;
    line-height: 0.8;
}